cartoonizer_report/
cartoonizer_report/cartoonizer_report.fdb_latexmk
cartoonizer_report/cartoonizer_report.fls
cartoonizer_report/cartoonizer_report.log
cartoonizer_report/cartoonizer_report.pdf
cartoonizer_report/cartoonizer_report.synctex.gz
